#root {
  margin: auto;
  padding: 2rem;
  text-align: center;
}
body{
  background-color: white;
  display: flex;
}

img{
  height: 600px;
}

button {
  font-size: 50px;
  width: 500px;
}

p {
  font-size: 40px;
  margin-top: 15px;
  color: white;
}

.component{
  background-color: #007298;
  padding: 100px;
  border-radius: 50px
}
div {
  margin: 50px;
}

/* * {
  border: 1px solid black;
} */

button {
  background-color: #007298;
  padding-bottom: 50px;
}