#root {
  margin: auto;
  padding: 2rem;
  text-align: center;
}

body {
  background-color: white;
  display: flex;
}

h1 {
  color: black;
}

img {
  height: 600px;
}

button {
  font-size: 50px;
  width: 500px;
}

li {
  font-size: 35px;
}

p {
  font-size: 40px;
  margin-top: 15px;
  color: white;
}

.coverletter {
  color: black;
}

.component {
  background-color: #007298;
  padding: 100px;
  border-radius: 50px
}

div {
  margin: 50px;
}

/* * {
  border: 1px solid black;
} */

button {
  background-color: #007298;
  padding-bottom: 50px;
  margin: 30px;
}

#homepage {
  flex-direction: column;
  display: flex;
  align-items: center;
}